.characteristics-page {
  .breadcrumb {
    margin: 40px 0 24px 0;
  }
  .character-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &__title {
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
    }
    .line {
      border: 1px dashed #dddddd;
      width: 100%;
      transform: translateY(-4px);
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    li {
      display: flex;
      align-items: end;
      width: 100%;
      justify-content: space-between;
      gap: 8px;
      span {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        white-space: nowrap;
        color: #333333;
      }
    }
  }
}

.product-characteristics {
  display: flex;
  align-items: start;
  gap: 32px;
  .slider-sec {
    width: 452px;
    display: flex;
    align-items: start;
    .gallery-thumbs {
      overflow: hidden;
      min-width: 58px;
      max-width: 58px;
      height: 322px;
      .swiper-slide {
        cursor: pointer;
        height: 58px !important;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        border: 2px solid transparent;
        &.swiper-slide-thumb-active {
          border-color: #fd8806;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .gallery-main {
      width: 379px;
      height: 379px;
      position: relative;
      .swiper-product__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .video-box {
      position: relative;
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000099;
        z-index: 0;
      }
      .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 32px;
        height: 32px;
      }
    }
  }
  .character-sec {
    max-width: 358px;
    .top-box {
      flex-direction: column;
      gap: 12px;
      display: flex;
      .status-box {
        display: none;
        span {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }
        .img-box {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .product-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    margin: 12px 0 24px 0;
  }
  .show-more__character {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #fd8806;
    text-align: left;
  }
  .status-box {
    display: flex;
    align-items: center;
    gap: 4px;
    .img-box {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span {
      font-size: 24px;
      font-weight: 500;
      line-height: 31.2px;
      &.success-text {
        color: #34c759;
      }
      &.danger-text {
        color: #db371f;
      }
      &.warning-text {
        color: #fd8806;
      }
    }
  }
  .product-cart {
    border: 1px solid #dddddd;
    border-radius: 12px;
    padding: 20px 16px;
    width: 416px;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .orange-btn {
      margin: 12px 0 24px 0;
    }
  }
  .additional-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &__title {
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
    }
    .product-boxes {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    .form-check-label {
      cursor: pointer;
    }
    .product-box {
      display: flex;
      align-items: center;
    }
    .product-img {
      width: 70px;
      height: 70px;
      margin: 0 8px 0 6px;
    }
    .price {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      color: #333333;
    }
    .product-info {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      margin-top: 4px;
    }
    .bottom-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__text {
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
      }
    }
    .total-price {
      font-size: 32px;
      font-weight: 500;
      line-height: 41.6px;
    }
  }
  .status-boxes {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 24px;
  }
  .status-box__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
    padding-left: 35px;
    display: block;
    margin-top: 8px;
  }
}

.tabs {
  margin: 32px 0 56px 0;
  .desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
  }
  .tab-pane {
    margin-top: 24px;
  }
  .character-box {
    gap: 8px;
  }
  .character-boxes {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .horizon-line {
    width: 1px;
    border: 1px solid #dddddd;
  }
  .character-cards {
    display: flex;
    gap: 30px;
    align-items: stretch;
    .character-boxes {
      max-width: 582px;
      width: 100%;
    }
  }
  .documents {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .document {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-decoration: underline;
      color: #333333;
    }
  }
}

.waiting-product__page {
  .product-characteristics .product-cart__header {
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
  .product-price {
    font-size: 32px;
    font-weight: 500;
    line-height: 41.6px;
    text-align: right;
    margin-left: auto;
  }
}

.characteristics-page {
  .counter-box {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 12px;
    gap: 12px;
  }
  .counter,
  .outline-orange-btn {
    width: 100%;
  }
  .outline-orange-btn {
    border-radius: 6px;
  }
  .counter {
    display: flex;
    align-items: center;
    gap: 24px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding: 8px 40px;
    button {
      width: 22px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .count {
      font-size: 24px;
      font-weight: 500;
      line-height: 31.2px;
      text-align: center;
    }
  }
}
.product-characteristics .swiper-pagination {
  display: none;
}
