// home page
.home-page {
  .breadcrumb {
    margin: 24px 0 4px 0;
  }
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .filter-categories {
    &__label {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      min-width: 115px;
      margin-top: 6px;
    }
  }
  .filter-items {
    display: flex;
    gap: 6px;
    align-items: start;
    flex-wrap: wrap;
  }
  .filter-item {
    line-height: 24px;
    padding: 6px 12px;
    border-radius: 4px;
    background: #f3f3f3;
    transition: all 0.2s linear;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      background: #dfdfdf;
    }
    &.active {
      background: #fd8806;
      color: #fff;
    }
  }
}
